@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: white;
    background-color: black;
    width: 100%;
    overflow-y: visible;
}

/* headings and nav bar */

h1,
h2 {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

#logo {
    float: left;
    font-size: 200%;
    text-decoration: none;
    padding-left: 20px;
}

#nav-links {
    font-size: 125%;
}

#nav-links,
#logo {
    line-height: 75px;
}

#nav-links li {
    float: right;
    list-style-type: none;
    padding-right: 20px;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

.hamburger {
    background-color: transparent;
    color: white;
    font-size: 150%;
    cursor: pointer;
    display: none;
}

/*  main background image */

#background-image {
    height: 400px;
    width: 100%;
    background: url(../images/background\ image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

/** home page about stadiums and testimonials section **/

#about-stadiums {
    width: 75%;
    height: auto;
    background-color: rgba(9, 114, 35, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
    margin-bottom: 40px;
}

.about-border {
    border-radius: 25px;
    border: 2px solid white;
    padding: 40px;
}

#about-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 200%;
    margin-bottom: 100px;
}

/* footer (code institute love running walkthrough project code followed for footer socialswith contact us link added */

footer {
    height: 150px;
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 0 5%;
    color: white;
}

.footer-contact {
    font-size: 160%;
    color: white;
    display: flex;
    justify-content: center;
}

/* Stadium Page */

#stadiums-heading {
    text-align: center;
    font-size: 120%;
    width: 70%;
    height: auto;
    background-color: rgba(9, 114, 35, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
    margin-bottom: 100px;
    border-radius: 25px;
    border: 2px solid white;
}

#stadium-content {
    column-count: 6;

}

.stadium-img {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 175px;
    height: 150px;
    margin-bottom: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.stadium-img:hover {
    box-shadow: 0 0 2px 1px rgba(247, 248, 249, 0.932);
}

.modal-dialog {
    color: black;
}

/* Gallery Page */

#gallery-carousel {
    padding: 50px 100px;
}

.carousel-inner img {
    margin: auto;
    max-height: 500px;
    width: auto;
}

#gallery {
    text-align: center;
    font-size: 120%;
    width: 70%;
    height: auto;
    background-color: rgba(9, 114, 35, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid white;
}

/* sign up and contact us page */

#signup-contact {
    padding: 20px;
    font-size: 150%;

}

.signup {
    height: 500px;
    width: 45%;
    float: left;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(9, 114, 35, 0.7);
    margin-bottom: 40px;
}

.signup h2 {
    text-align: center;
}

.submit {
    float: right;
    border-radius: 50%;
    border: solid 2px black;
    width: 5em;
    height: 5em;
    font-size: 100%;
}

.contact-us {
    height: 500px;
    width: 45%;
    float: right;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(9, 114, 35, 0.7);
    margin-bottom: 40px;
}

.contact-us h2 {
    text-align: center;
}

#fname,
#lname,
#email,
#stadium {
    height: 35px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid black;
}

/* media queries */
/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .signup {
        height: fit-content;
        width: 90%;
        float: left;
    }

    .contact-us {
        height: fit-content;
        width: 90%;
        float: left;
    }
}

/* For larger to medium screens size from 1100px wide and down */
@media screen and (max-width: 1100px) {
    #background-image {
        height: 200px;
    }

    #stadium-content {
        column-count: 3;
    }
}

/* For screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    #nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

/* For medium to smaller screens size from 700px wide and down */
@media screen and (max-width: 700px) {
    #logo {
        font-size: 120%;
    }

    #about-stadiums {
        width: 90%;
    }

    #stadium-content {
        column-count: 2;
    }
}