@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: white;
    background-color: black;
    width: 100%;
    overflow-y: visible;
}

/* headings and nav bar (code for hamburger icon obtained from codepen.io */

h1,
h2 {
    font-family: "Lora", sans-serif;
    font-weight: 100;
    color: white;
}

.logo {
    font-size: 75%;
    text-transform: capitalize;
}

.header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 95%;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.active {
    border-bottom: 1px solid white;
}

/*  main background image */

#background-image {
    height: 400px;
    width: 100%;
    background: url(../images/background\ image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    padding-top: 40px;
}

/** home page about stadiums and testimonials section **/

#about-stadiums {
    width: 75%;
    height: auto;
    background-color: rgba(9, 114, 35, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
    margin-bottom: 40px;
}

#about-stadiums h2 {
    text-transform: uppercase;
}

.about-border {
    border-radius: 25px;
    border: 2px solid white;
    padding: 40px;
}

#about-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 200%;
    margin-bottom: 100px;
}

/* footer (code institute love running walkthrough project code followed for footer socialswith contact us link added */

footer {
    height: 150px;
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 0 5%;
    color: white;
}

.footer-contact {
    font-size: 160%;
    color: white;
    display: flex;
    justify-content: center;
}

/* Stadium Page */

#stadiums-heading {
    text-align: center;
    font-size: 120%;
    width: 70%;
    height: auto;
    background-color: rgba(9, 114, 35, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
    margin-bottom: 100px;
    border-radius: 25px;
    border: 2px solid white;
}

#stadiums-heading h2 {
    text-transform: uppercase;
}

#stadium-content {
    column-count: 6;
    margin-bottom: 100px;
    cursor: pointer;

}

.stadium-img {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 175px;
    height: 150px;
    margin-bottom: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.stadium-img:hover {
    box-shadow: 0 0 2px 1px rgba(247, 248, 249, 0.932);
}

.modal-dialog {
    color: black;
}

/* Gallery Page */

#gallery-carousel {
    padding: 50px 100px;
}

.carousel-inner img {
    margin: auto;
    max-height: 500px;
    width: auto;
}

#gallery {
    text-align: center;
    font-size: 120%;
    width: 70%;
    height: auto;
    background-color: rgba(9, 114, 35, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid white;
}

/* sign up and contact us page */

#signup-contact {
    padding: 20px;
    font-size: 150%;

}

.signup {
    height: 500px;
    width: 45%;
    float: left;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(9, 114, 35, 0.7);
    margin-bottom: 40px;
}

.signup h2 {
    text-align: center;
    text-transform: uppercase;
}

.submit {
    float: left;
    border-radius: 50%;
    border: solid 2px black;
    width: 5em;
    height: 5em;
    font-size: 50%;
}

.contact-us {
    height: 500px;
    width: 45%;
    float: right;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(9, 114, 35, 0.7);
    margin-bottom: 40px;
}

.contact-us h2 {
    text-align: center;
    text-transform: uppercase;
}

#fname,
#lname,
#email,
#stadium {
    height: 35px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid black;
}

.signup label {
    width: 200px;
    display: inline-block;
}

.contact-us label {
    width: 200px;
    display: inline-block;
}

/* media queries */
/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .signup {
        height: fit-content;
        width: 90%;
        float: left;
    }

    .contact-us {
        height: fit-content;
        width: 90%;
        float: left;
    }
}

/* For larger to medium screens size from 1100px wide and down */
@media screen and (max-width: 1100px) {
    #stadium-content {
        column-count: 3;
    }
}

/* 48em = 768px */

@media (min-width: 950px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* For medium to smaller screens size from 700px wide and down */
@media screen and (max-width: 700px) {

    .logo h1 {
        font-size: 180%;
    }

    #about-stadiums {
        width: 90%;
    }

    #stadium-content {
        column-count: 2;
    }
}

/* For medium to smaller screens size from 350px wide and down */
@media screen and (max-width: 350px) {
    .logo h1 {
        font-size: 160%;
    }
}